@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
 
  background:#ffffff;
    
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.mybg{
  background-image: url('img/firstPage.webp');
  background-size: cover;
  object-fit: cover;
  background-position: center;
}
.bg2{
  background-image: url('img/slide-2.webp');
  background-size: cover;
  object-fit: cover;
  background-position: center;
}

.myhove::after{
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  background-color: black;
  left: 0;
  bottom: -20%;
  transition: .4s;
 
}

.myhove:hover::after{
  width: 100%;
}